body.model3d {

	#vr-model {
		min-height: 500px;
		height: 100vh;
		width: 100%;
		margin: 0;
		padding: 0;

		.progress-bar-container {
			width: 100%;
			max-width: 480px;
			margin: 0 auto;
			margin-top: 20%;
		}
	}


	.button.back.mv-active-button.ar-button {
		position: absolute;
		bottom: 24px;
		left: 24px;
		border-radius: 50%;
		font-size: 0;
	}
}
