$mq__phablet: "(max-width: 600px)";
$red : var(--wp--preset--color--vivid-red);

@media (min-width: 600px) {
	.hide-on-desktop {
		display: none;
	}
}

model-viewer[ar-tracking="not-tracking"] > #ar-failure {
	display: block;
}

@import "parts/common";
@import "parts/woo";
@import "parts/single";
@import "parts/animations";
@import "parts/modal";
